<div *ngIf="indicators.length">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-12">
                <p class="text-center lead fs-2">Indicators</p>
                <div class="text-center">
                    <button class="btn btn-success" routerLink="/new-indicator">Add Indicator</button>
                </div>
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Defined By</th>
                            <th>Demo Site</th>
                            <th>Code</th>
                            <th>Indicator</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Group</th>
                            <th>Details</th>
                            <th>Assess</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let indicator of indicators; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ indicator.definedBy }}</td>
                            <td>{{ indicator.definedBy !== "IMPETUS" ? findUserDemoSite(indicator) : "-" }}</td>
                            <td>{{ indicator.code }}</td>
                            <td>{{ indicator.description }}</td>
                            <td>{{ indicator.category.description }}</td>
                            <td>{{ indicator.subcategory.description }}</td>
                            <td>{{ indicator.kind }}</td>
                            <td><button (click)="onDetailsClick(indicator)" class="btn btn-sm btn-primary">Info</button></td>
                            <td><button (click)="onAssessClick(indicator)" class="btn btn-sm btn-success">Create Assessment</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
