<div class="container">
    <h1 class="text-center fs-2 my-5">Welcome to Regional Climate Resilience Footprint Tool</h1>
    <!-- <div class="container my-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis ut odit. Delectus rem, accusamus alias soluta nemo doloribus
        repudiandae nam vel saepe asperiores voluptatem quisquam omnis architecto assumenda ea? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Ducimus necessitatibus nemo est, voluptatum consequatur nihil nesciunt odio, saepe, alias recusandae explicabo sit enim assumenda
        beatae? Dolore iusto inventore illo dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quod quos numquam dicta saepe odit?
        Cum obcaecati modi in ipsa pariatur praesentium, maiores cupiditate odit ab labore accusantium laborum. Repellat.
    </div> -->
    <div class="d-flex justify-content-center">
        <asl-google-signin-button
            *ngIf="!currentUser()"
            type="standard"
            size="large"
            shape="circle"
            [width]="400"
            logo_alignment="center"
            theme="filled_blue"
        >
        </asl-google-signin-button>
    </div>
</div>
