<div #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ indicator.description }}</h4>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button> -->
    </div>
    <div class="modal-body">
        <p>Code: {{ indicator.code }}</p>
        <p>Category description: {{ indicator.category.description }}</p>
        <p>Data required: {{ indicator.data_requirements }}</p>
        <p>Group: {{ indicator.kind }}</p>
        <p>Main affected sector: {{ indicator.main_affected_sector }}</p>
        <p>Main climate change factor: {{ indicator.main_climate_change_factor }}</p>
        <p>Metrics and units: {{ indicator.metrics_and_units }}</p>
        <p>Other affected sectors: {{ indicator.other_affected_sectors }}</p>
        <p>Other climate change factors: {{ indicator.other_climate_change_factors }}</p>
        <p>Principal: {{ indicator.principal }}</p>
        <p>References: {{ indicator.references }}</p>
        <p>Spatial scale: {{ indicator.spatial_scale }}</p>
        <p>Subcategory description: {{ indicator.subcategory.description }}</p>
        <p>Type: {{ indicator.type }}</p>
        <p>Typology: {{ indicator.typology }}</p>
        <p>Defined by: {{ indicator.definedBy }}</p>
    </div>
</div>
